# SPDX-License-Identifier: MIT

[Unit]
Description=Interactive setup wizard (cage)
Before=gdm.service sddm.service lightdm.service cosmic-greeter.service display-manager.service
After=systemd-user-sessions.service getty@tty1.service systemd-logind.service

[Service]
# These environment variables tell pam_systemd that this is a session with a seat
Environment="XDG_SEAT=seat0"
Environment="XDG_VTNR=1"
Environment="XDG_SESSION_TYPE=wayland"
Environment="XDG_SESSION_CLASS=greeter"
Environment="XDG_SESSION_DESKTOP=none"
TimeoutSec=0
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=3600
ExecStart=/sbin/runuser -l root -c /usr/bin/first-time-setup-cage.sh

[Install]
WantedBy=multi-user.target
